// scss-docs-start
$white: #fffefe !default;
// scss-docs-end


/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Rubik+Microbe&display=swap');

$h2-font-size: 1.6rem !default;

$header-font-weight: 500 !default;

$body-bg: $white !default;

$color-all: #5B5F97;
$color-test: #9e557a;
$color-control: #00BFB3;

$color-dark: #27233A;
$color-dark-2: #525252;
$color-light: #FAFAFA;
$color-percent-bar: #eeedede7;
$color-green: #2F4F2F;
$color-border: #c9c8c8;
$color-border-2: #6e6d6d;
$color-icon-c: #f0f0f06b;
$color-icon-ch: #f1f1f18a;

$radius: 5px;



/*-- scss:rules --*/

* {
  // font-family: Inter ;
  font-family: 'Segoe UI', Inter, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #070808;
}

p {
  margin: 0;
  font-family: 'Segoe UI', Inter, Tahoma, Geneva, Verdana, sans-serif;
}
  
// #quarto-content {
//   padding: 10px;
//   padding-top: 10px;
//   padding-right: 10px;
//   padding-bottom: 0px;
//   padding-left: 20px;
//   margin-bottom: 20px;
// }

.ab-divider {
  height: 1rem;
  background-color: rgba(177, 173, 173, 0.1);
  border: solid rgba(177, 173, 173, 0.1);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(61, 61, 61, 0.1), inset 0 .125em .5em rgba(177, 173, 173, 0.1);
}


.icon-link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: #1C2541;
  transition: .5s ease;

  &:hover {
    color: #3A506B;

    &>.bi {
      transform: translate(.25rem);
    }
  }

  &>.bi{
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
}

// Home Page --------------------------------------------------------------------------------------

.name-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
  transition: .5s ease;

  .icon-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $color-icon-c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: .5s ease;

    i {
      color: $color-border-2;
    }
  }

  &:hover {
    .icon-container {
      background-color: $color-icon-ch;
      i {
        color: #1f1e1e;
      }
    }
  }
}


.ads-container {
  width: 600px;
  min-height: 425px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $color-test;
  color: $color-light;
  row-gap: 1rem;
  overflow-x: hidden;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .for {
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 0.5rem;
      text-transform: uppercase;

      p {
        font-size: 0.6rem;
        margin: 0;
      }
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      // background-color: #2e395a11;

      .qt {
        font-size: 0.9rem;
        color: #f5f3f3e1;
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 0.7rem;
          row-gap: 0.2rem;

          .text {
            font-size: 1rem;
          }
        }
      }

      .price-color {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1.3rem;

        .price {
          width: fit-content;
          height: 2.5rem;
          padding: 0.8rem;
          border-radius: 3px;
          background-color: #a3a0a098;
          color: $color-light;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .5s ease;

          p {
            margin: 0;
            letter-spacing: 2px;
          }

          &:hover {
            background-color: #fffffffd;

            p {
              color: #161515;
            }
          }
        }

        .shoe-color {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 1rem;

          .circle {
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .middle-color {
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background-color: $color-test;
            }

            &.grey {
              background-color: #e6eaff;
            }
            &.blue {
              background-color: #A72608;
            }
            &.red {
              background-color: #00296B;
            }

          }
        }
      }
    }

    .right {
      width: 70%;

      .image {
        width: 15rem;
        height: 16rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
  }
}


.pas-container {
  width: 600px;
  min-height: 425px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $color-control;
  row-gap: 1.3rem;
  color: #FFFFFF;
  transition: .5s ease;

  .top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0.8rem;

    .icon-container {
      width: 4rem;
      height: 4rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8b8a8a60;

      i {
        font-size: 3rem;
        padding-top: 0.3rem;
      }
    }

    .description {
      flex: 2;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .top {
        font-size: 1.1rem;
      }

      .major {
        font-weight: 500;
      }
      .minor {
        font-size: 1rem;
      }
      .container {
        background-color: #00000013;
        border-radius: $radius;
        padding: 0.4rem 0.4rem;
        transition: .5s ease;

        .major-line {
          font-size: 1.2rem;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 0.5rem;
  }

  &:hover {
    .description {
      .container {
        background-color: #00000025;
      }
    }
  }
}


.link-description {
  .f-weight {
    font-weight: 500;
  }
}

// Metric Page ----------------------------------------------------------------------------------
.mt-distinction {
  display: flex;
  flex-direction: column;

  .list-point {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.5rem;
    column-gap: 0.6rem;
  }
}


.mt-user-count {
  height: 20rem;
  width: 18rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid $color-dark;
  border-radius: 5px;
  transition: .5s ease;

  &.all {
    border-color: $color-all;
  }
  &.test {
    border-color: $color-test;
  }
  &.control {
    border-color: $color-control;
  }

  .top {
    width: 100%;
    height: 25%;
    padding: 1rem;

    span {
      font-size: 1.3rem;
      text-decoration: underline;
    }

    &.all {
      background-color: $color-all;
      color: #FFFFFF;
    }
    &.test {
      background-color: $color-test;
      color: #FFFFFF;
    }
    &.control {
      background-color: $color-control;
      color: #FFFFFF;
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .text {
      font-size: 2.7rem;
    }

    .icon-container {
      margin-top: 0.8rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: $color-icon-c;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s ease;

      i {
        font-size: 2.3rem;
      }
    }
    
  }

  .card-divider {
    border-bottom: 2px solid #ebebeb;
    margin: 0 2rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .text {
      align-items: flex-start;
      font-size: 1.5rem;
    }

    .percentage-bar {
      width: 100%;
      height: 1rem;
      border-radius: $radius;
      background-color: $color-percent-bar;

      .bar {
        height: 100%;
        border-radius: $radius;

        &.per-96 {
          width: 96%;
          background-color: $color-test;
        }
        &.per-100 {
          width: 100%;
          background-color: $color-all;
        }
        &.per-4 {
          width: 4%;
          background-color: $color-control;
        }
      }
    }
  }

  &:hover {
    .middle {
      .icon-container {
        background-color: $color-icon-ch;
      }
    }
  }
}


.mt-conversion-container {
  width: 25rem;
  height: 17rem;
  border: 2px solid black;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &.all {
    border-color: $color-all;
  }
  &.test {
    border-color: $color-test;
  }
  &.control {
    border-color: $color-control;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 3px;
    }

    .icon-container {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 5px;
      background-color: $color-icon-c;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s ease;

      &.all {
        color: $color-all;
      }
      &.test {
        color: $color-test;
      }
      &.control {
        color: $color-control;
      }
    }
  }

  .middle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    h3 {
      font-size: 2.5rem;
      text-decoration: underline;
      letter-spacing: 3px;
    }

    .percent {
      margin-left: 2rem;
      margin-bottom: 0.8rem;
      font-size: 1.3rem;
      letter-spacing: 2px;
      color: $color-green;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1rem;
      color: #444343;
    }

    .percentage-bar {
      width: 100%;
      height: 1rem;
      border-radius: 3px;
      background-color: $color-percent-bar;
      margin-bottom: 0;

      .bar {
        height: 100%;
        border-radius: 3px;

        &.rate-all {
          width: 5%;
          background-color: $color-all;
        }
        &.rate-test {
          width: 5%;
          background-color: $color-test;
        }
        &.rate-control {
          width: 3%;
          background-color: $color-control;
        }
      }
    }

    .bar-text {
      align-self: flex-end;
      font-size: 1.4rem;
      margin-top: 2px;
      letter-spacing: 2px;

      &.all {
        color: $color-all;
      }
      &.test {
        color: $color-test;
      }
      &.control {
        color: $color-control;
      }
    }
  }

  &:hover {
    .top {
      .icon-container {
        background-color: $color-icon-ch;
      }
    }
  }
}




// Test Page ------------------------------------------------------------------------------------
.hypothesis {

  &.null {
    background-color: #1AC8ED;    
  }
  &.alternative {
    background-color: #8B80F9;
  }

  .top {
    p {
      font-size: 1.5rem;

      .type {
        font-weight: 600;
      }
    }
  }
  .bottom {
    i {
      font-size: 0.5rem;
    }

    .bold {
      font-weight: 600;
    }
  }
}


.mean {
  width: 25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: 2px solid $color-border;
  border-radius: $radius;
  transition: .4s ease;

  .ab-row {

    &.test {
      color: $color-test;
    }
    &.control {
      color: $color-control;
    }

    .icon-container {
      width: 4rem;
      height: 4rem;
      padding: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $radius;
      background-color: $color-icon-c;
      transition: .4s ease;

      i {
        font-size: 2.5rem;
        padding-top: 0.3rem;
      }
    }

    .values {
      p {
        span {
          font-size: 1.5rem;
        }
      }
    }

    .vertical-divider {
      border-right: 2px solid #000000;
      height: 100%;
    }
  }

  &:hover {
    border-color: $color-border-2;

    .icon-container {
      background-color: $color-icon-ch;
    }
  }
}



.t-test {
  width: 22rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .tt-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem;
    border: 2px solid $color-border;
    border-radius: $radius;
    transition: .5s ease;

    .title {
      width: fit-content;
      height: 3rem;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $radius;
      transition: .5s ease;

      p {
        font-size: 1.4rem;
      }
    }

    .value {
      p {
        font-size: 1.6rem;
      }
    }

    &:hover {
      border-color: $color-border-2;

      .title {
        background-color: $color-icon-ch;
      }
    }
  }
}



.evaluation {
  display: flex;
  flex-direction: column;

  .row-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1rem;

    .alt {
      color: #8B80F9;
    }
  }

  .f-weight {
    font-weight: 500;
    color: #000000;
  }
}



.recommendation {
  display: flex;
  flex-direction: column;
  background-color: $color-all;
  border-radius: $radius;
  color: #FFFFFF;
  padding: 2rem;
  margin-top: 3rem;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;

    .title {
      margin: 0;
    }

    .icon-container {
      width: 2.2rem;
      height: 2.2rem;
      padding: 0.3rem;
      margin-bottom: 0.7rem;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: #F49D37;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .space {
      margin-right: 0.8rem;
    }
    .f-weight {
      font-weight: 500;
    }
  }
}


// Others ======================================================================
.info-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: $radius;
  background-color: #f7f7f777;

  .top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    .icon-container {
      width: 2rem;
      height: 2rem;
      padding: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $white;
    }
  }

  .text {
    .summary-text {
      color: #4d4d4df8;

      &.lg {
        font-size: 1.3rem;
      }
    }
  }
}

.exp-text-color {
  color: #363636f8;
}

.table-col {
  max-height: 500px;
}



// About page ==================================================================
.about {
  color: #FFFFFF;
  
  .about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
    h5 {
      color: #FFFFFF;
    }

    a {
      font-size: 1.5rem;
    }
  }

  .about-items {
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    padding: 1rem;

    h4 {
      color: #FFFFFF;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 2px;
    }

    .date {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 1rem;

      h4 {
        margin: 0;
      }

      p {
        margin-top: 0.3rem;
      }
    }

    .tools {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .sub-title {
        font-size: 1.2rem;
      }
    }
  }
  
  a {
    color: #363535;
    font-weight: 500;
    transition: .5s ease;

    &:hover {
      color: #010918;
    }
  }
}


// Tabset ======================================================================= 

.tabset {
  width: 100%;

  .tabs {
    display: flex;
    overflow: hidden;

    .tab-link {
      flex: 1;
      height: 100%;
      width: fit-content;
      text-align: center;
      text-decoration: none;
      color: #8b8989;
      margin: 0 10px;
      border-bottom: 2px solid #cac8c8;
      cursor: pointer;
      transition: .3s ease;
  
      &:hover {
        border-bottom-color: #979494;
        color: #666464;
      }
  
      &.active {
        border-bottom-color: #272626;
        color: #333;
      }
    }
  }

  .tab-content {
    display: none;
    width: 100%;
    border: none;
  
    &.active {
      display: block;
    }
  }
  
}



// Link ========================================================================
.page-link-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .link-container {
    width: fit-content;
  
    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      color: #4A2545;
      transition: .3s ease;
      border: none;
    
      i {
        margin-top: 0.3rem;
      }
    
      p {
        font-size: 1.5rem;
      }
      
      &:hover {
        background-color: transparent;
        color: #824C71;
        border: none;
      }
    
      &:focus {
        background-color: transparent;
      }
    }
  }
}




.home-link {
  color: #270223;
  transition: .5s ease;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;

  &:hover {
    color: #681a4fcb;
  }
}





::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
background: #b4b3b3;
border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
background: #a09f9f;
}

::-webkit-scrollbar-track {
background: #f2f2f2;;
}


// Small Screens ================================================================
@media only screen and (max-width: 768px) {

  // Home -------------------------------------------------
  .ads-container {
    width: 300px;
    min-height: 325px;
    margin: 0 auto;
    row-gap: 0.6rem;

    .top {
      margin: 0 auto;
      .icon-container {
        display: none;
      }
    }

    .middle {
      .left {
        row-gap: 0.6rem;
        
        .qt {
          font-size: 0.7rem;
        }

        ul {
          li {
            .text {
              font-size: 0.7rem;
            }
          }
        }

        .price-color {
          column-gap: 0.9rem;

          .price {
            height: 1.5rem;
            padding: 0.5rem;

            p {
              margin: 0;
              font-size: 0.8rem;
              letter-spacing: 1px;
            }
          }

          .shoe-color {
            column-gap: 0.6rem;

            .circle {
              width: 0.9rem;
              height: 0.9rem;

              .middle-color {
                width: 0.4rem;
                height: 0.4rem;
              }
            }
          }
        }
      }
      
      .right {
        .image {
          width: 10rem;
          height: 11rem;
        }
      }
    }

    .bottom {
      column-gap: 1rem;

      p {
        font-size: 0.8rem;
      }
    }
  }

  .pas-container {
    width: 300px;
    min-height: 350px;
    row-gap: 1rem;

    .top {
      .icon-container {
        width: 2.5rem;
        height: 2.5rem;

        i {
          font-size: 1.5rem;
          padding-top: 0;
        }
      }

      .description {
        row-gap: 0.8rem;

        .top {
          font-size: 0.9rem;
        }
        .major {
          font-weight: 400;
        }
        .minor {
          font-size: 0.7rem;
        }

        .container {
          .major-line {
            font-size: 0.9rem;
          }
        }
      }
    }

    .bottom {
      column-gap: 0.5rem;
      margin-top: 0.2rem;
      justify-content: space-between;

      p {
        font-size: 0.9rem;
      }

      a {
        font-size: 0.9rem;
      }
    }
  }
  

  // Metric Page ------------------------------------------
  .mt-conversion-container {
    margin: 0 auto;
    width: 18rem;
    height: 16rem;

    .top {
      p {
        font-size: 1.2rem;
      }

      .icon-container {
        width: 3rem;
        height: 3rem;

        i {
          font-size: 1rem;
        }
      }
    }

    .middle {
      h3 {
        font-size: 2.2rem;
        letter-spacing: 2px;
      }

      .percent {
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }

    .bottom {
      .title {
        font-size: 0.8rem;
      }

      .bar-text {
        font-size: 1.1rem;
        letter-spacing: 1px;
      }
    }
  }

  // Test Page --------------------------------------------
  .mean {
    width: 18rem;
    row-gap: 1.6rem;

    .ab-row {
      .icon-container {
        width: 3rem;
        height: 3rem;

        i {
          font-size: 1.7rem !important;
        }
      }

      .values {
        p {
          span {
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .t-test {
    width: 18rem;
    height: 100%;
    margin: 0 auto;

    .tt-row {
      column-gap: 0.8rem;
      padding: 1.2rem;

      .title {
        p {
          font-size: 1.2rem;
        }
      }

      .value {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }

  .recommendation  {
    width: 17rem;
    .header {
      column-gap: 0.8rem;

      .icon-container {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.2rem;
        margin-bottom: 1rem;

        i {
          font-size: 0.7rem;
        }
      }
    }
  }

  .page-link-container {
    justify-content: flex-start;
  }
  

  .name-tag { 
    margin-bottom: 1rem;
  }
}



// Medium Screens ================================================================
@media only screen and (max-width: 768px) and (max-width: 1024px) {
  
}